.imageboard {
    margin: 2em auto;
    background-color: var(--laranja);
    width: 50%;
    max-width: 82.6875em;
    height: 380px;
    border: black solid 3px;
    border-radius: 20px;
    padding: 1em;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)
}

.swiper {
    width: 70% !important;
    height: 100% !important;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}
.swiper-wrapper{
    padding: 0 3em 0 0;
    
}
.swiper-slide {
    width: 20em !important;
    height: 20em !important;
    
}

.swiper-slide img {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
   
   
}
.swiper-button-prev,
.swiper-button-next {
    height: 3.5em;
    width: 3.5em;
    background: linear-gradient(135deg, #ffffff, #dcdcdc);
    color: var(--laranja);
  
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    margin: 0 1em;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.4em;
    font-weight: bold;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}


.swiper-button-prev:active,
.swiper-button-next:active {
    transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.swiper-pagination{
    margin-top: 3em;
}